@import "tailwindcss";

@theme {
  --color-bg-primary: #fff;
  --color-bg-secondary: #454545;
  --color-text-primary: #333;
  --color-text-secondary: #666;
  --color-error: #e74c3c;
}

#root {
  @apply min-h-screen flex flex-col;
}

.header {
  @apply bg-bg-secondary text-bg-primary p-4;

  .nav {
    @apply flex justify-between items-center;
  }
}

.main {
  @apply p-4 grid grid-cols-[1fr_5fr];
}

.footer {
  @apply bg-bg-secondary text-bg-primary py-4;

  .container {
    @apply mx-auto text-center;
  }
}

.signup-form,
.login-form,
.form {
  @apply grid grid-cols-1 gap-4;

  div {
    @apply flex flex-col gap-2 text-text-primary relative w-3/5 mx-auto;

    label {
      @apply px-1 relative w-max z-10 top-5 left-2 bg-bg-primary text-text-secondary;
    }

    input {
      @apply p-2 pt-4 outline-none border border-text-secondary rounded-md;
    }

    select {
      @apply p-2 pt-4 w-full outline-none border border-text-secondary rounded-md;
    }

    textarea {
      @apply p-2 pt-4 w-full outline-none border border-text-secondary rounded-md;
    }
  }
}

.form-error {
  @apply text-error text-right pr-1;
}

.error {
  @apply text-xl text-error text-center;
}

.item-preview-card {
  @apply grid grid-cols-2 gap-2 items-center border border-text-secondary rounded-md p-2 min-h-max h-[30dvh] max-h-[30dvh];

  .img-container {
    @apply w-full h-full overflow-hidden rounded-md;

    img {
      @apply w-full h-full object-cover;
    }
  }
}

.side-nav {
  @apply bg-bg-secondary text-bg-primary p-4 sticky top-0 left-0 h-screen;
}

input {
  @apply autofill:bg-bg-primary autofill:duration-[9999s];
}

button {
  @apply cursor-pointer;
}
